<img class="flag" (click)="window.open('https://youtu.be/69VV0pH57XE')" ngSrc="/img/flags/TransFlag.png" [height]="35" [width]="50" alt="Trans">
<img class="flag" (click)="window.open('https://youtu.be/3NeMPxB37B4')" ngSrc="/img/flags/LgbtqFlag.jpg" [height]="35" [width]="50" alt="LGBTQ">
<img class="flag" (click)="window.open('https://youtu.be/BNmKFXVWPiI')" ngSrc="/img/flags/LesbianFlag.jpg" [height]="35" [width]="50" alt="Lesbian">

<h1>My time is: {{ time }}</h1>
<h1>I am currently: {{ age }} old</h1>
<h1>I am from Sweden <img class="flag" (click)="window.open('https://youtu.be/Ifs-TOVOsCE?t=20')" style="position: absolute;margin-left: 10px" ngSrc="/img/flags/SwedenFlag.jpg" [height]="35" [width]="50" alt="SE"></h1>
<h1>My Preferred Pronouns is She/Her use it or get the bonk <img ngSrc="/img/emojis/bonk.gif" [height]="60" [width]="60" alt="bonk >:3"></h1>

<br><br><br>

<h1>More About Me</h1>
<div id="about-me">
  <p>Hi, I’m Luna!</p>
  <p>I’m a quirky silly trans girl, I like programing nowadays I work mostly in web dev, so HTML, CSS and JavaScript, but I also like to try new things like C++ and C#, I also like to deal with networking and server configuration, Screw serverless everything is on a server anyway why not let it be on yours XD.</p>
  <p>Also, I’m often shy so if you see me quiet in a corner somewhere please come up and talk to me, I really appreciate it.</p>
  <p>Also love of my life, Zoey <3 I love you SO SO SO much cutie</p>
</div>

