<div class="center">
  <br>
  <br>
  <button class="link-btn" onClick="window.location.pathname = 'socials'" style="margin-right: 10px"><h1>My Socials</h1></button>
  <button class="link-btn" onClick="window.location.pathname = 'pronouns'" style="margin-left: 10px"><h1>Pronouns</h1></button>
  <br>
  <br>
  <br>
  <br>
  <h1>Who Am I</h1>
  <div id="about-me">
    <p>Hi, I’m Luna!</p>
    <p>I’m a quirky silly trans girl, I like programing nowadays I work mostly in web dev, so HTML, CSS and JavaScript, but I also like to try new things like C++ and C#, I also like to deal with networking and server configuration, Screw serverless everything is on a server anyway why not let it be on yours XD.</p>
    <p>Also, I’m often shy so if you see me quiet in a corner somewhere please come up and talk to me, I really appreciate it.</p>
    <p>Also love of my life, Zoey <3 I love you SO SO SO much cutie</p>
  </div>
</div>
