<div class="center">
  <br>
  <br>
  <button class="link-btn" onClick="window.location.pathname = 'socials'" style="margin-right: 10px"><h1 style="font-size: 19px">Mijn sociale platformen</h1></button>
  <button class="link-btn" onClick="window.location.pathname = 'pronouns'" style="margin-left: 10px"><h1 style="font-size: 17px">Mijn geprefereerde voornaamwoorden</h1></button>
  <br>
  <br>
  <br>
  <br>
  <h1>Wie ik ben</h1>
  <div id="about-me">
    <p>Hallo, ik ben Luna!</p>
    <p>Ik ben een gek trans meisje, en ik houd van programmeren. Tegenwoordig doe ik aan web development, dus denk aan HTML, CSS en JavaScript, maar ik vind het ook leuk om nieuwe dingen uit te proberen zoals C++ en C#. Ik houd ook van netwerken en servers, fuck serverless, alles is al op een server toch, dus waarom niet de jouwe XD.</p>
    <p>Ik ben vaak erg verlegen, dus als je me in een hoek ziet zitten, kom alsjeblieft met me praten, ik zou het heel erg waarderen!</p>
    <p>Zoey is de liefde van mijn leven, ik houd ZOOO veel van je schatje ❤️</p>
  </div>
</div>
