<div style="width: 50%; margin: auto">
  <button class="link-btn" (click)="OpenLink(0)"><img ngSrc="/img/socials/Only-Fans.webp" [height]="30" [width]="30" alt=""><span>OnlyFans</span></button>
  <button class="link-btn" (click)="OpenLink(1)"><img ngSrc="/img/socials/Discord.webp" [height]="30" [width]="38" alt=""><span style="margin-left: 43px">Discord</span></button>
  <button class="link-btn" (click)="OpenLink(2)"><img ngSrc="/img/socials/Twitch.webp" [height]="30" [width]="30" alt=""><span>Twitch</span></button>
  <button class="link-btn" (click)="OpenLink(3)"><img ngSrc="/img/socials/VrChat.webp" [height]="30" [width]="35" alt=""><span style="margin-left: 40px">VRChat</span></button>
  <button class="link-btn" (click)="OpenLink(4)"><img ngSrc="/img/socials/Reddit.webp" [height]="30" [width]="30" alt=""><span>Reddit</span></button>
  <button class="link-btn" (click)="OpenLink(5)"><img ngSrc="/img/socials/Github.webp" [height]="30" [width]="30" alt=""><span>GitHub</span></button>
  <button class="link-btn" (click)="OpenLink(6)"><img ngSrc="/img/socials/Youtube.webp" [height]="30" [width]="32" alt=""><span style="margin-left: 37px">YouTube</span></button>
  <button class="link-btn" (click)="OpenLink(7)"><img ngSrc="/img/socials/Twitter.webp" [height]="30" [width]="30" alt=""><span>Twitter</span></button>
  <button class="link-btn" (click)="OpenLink(8)"><img ngSrc="/img/socials/Planet-Minecraft.webp" [height]="30" [width]="30" alt=""><span>Planet Minecraft</span></button>
  <button class="link-btn" (click)="OpenLink(9)"><img ngSrc="/img/socials/Pinterest.webp" [height]="30" [width]="30" alt=""><span>Pinterest</span></button>
  <button class="link-btn" (click)="OpenLink(10)"><img ngSrc="/img/socials/Wishlist.webp" [height]="30" [width]="30" alt=""><span>Wishlist</span></button>
  <button class="link-btn" (click)="OpenLink(11)"><img ngSrc="/img/socials/Steam.webp" [height]="30" [width]="30" alt=""><span>Steam</span></button>
  <button class="link-btn" (click)="OpenLink(12)"><img ngSrc="/img/socials/Spotify.webp" [height]="30" [width]="30" alt=""><span>Spotify</span></button>
  <button class="link-btn" (click)="OpenLink(13)"><img ngSrc="/img/socials/MyAnimeList.webp" [height]="30" [width]="30" alt=""><span>My Anime List</span></button>
  <button class="link-btn" (click)="OpenLink(14)"><img ngSrc="/img/socials/E-Mail.webp" [height]="30" [width]="30" alt=""><span>Send Me An Email</span></button>
</div>
